<!DOCTYPE html>
<html>
<% include ../_common/templates/_head %>
<body>
<% include ../_common/templates/_banner-top %>
<% include content %>
<% include ../_common/templates/_banner-bottom %>
</body>
<% include ../_common/templates/_footer %>
<script src="_bundled/main.js" inline></script>
</html>
