<div id="legalBtn"></div>
<div id="legalContent">
        Wagers must be placed at an OLG authorized retailer. Go to proline.ca for the latest odds. OLG’s sport lottery games Rules and Game Conditions apply and are available from OLG upon request. These Rules and Game Conditions include limitations of liability. Sport Lottery products are not associated, with, sponsored by, authorized by, or endorsed by any sports league, member teams, athletes, personalities, or other affiliates in any way. Must be a minimum of 18 years of age to participate. OLG may, at any time at its sole discretion, refuse to issue tickets and may limit the aggregate wagering or prize payout. Application not exactly as shown. For more information call 1-800-387-0098 pour renseignements en français.
        </div>
        