/*--------------------------------------------*/
/* reset */
/*--------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------*/
/* common */
/*--------------------------------------------*/
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
}

canvas {
  display: block;
  top: 0;
  left: 0;
}

#banner {
  /* bigbox */
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
  background-color: #e82011;
  -webkit-text-size-adjust: 100%;
  opacity: 1;
  cursor: pointer;
}

#banner > a {
  width: inherit;
  height: inherit;
}

canvas, .text, .frame, .outline, img {
  position: absolute;
}

img {
  vertical-align: top;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.outline {
  z-index: 99;
  width: inherit;
  height: inherit;
  border: 1px solid black;
  pointer-events: none;
  position: absolute;
}

.frame {
  width: inherit;
  height: inherit;
  opacity: 0;
  top: 0;
  left: 0;
}

p {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

sup {
  font-size: 50%;
  vertical-align: top;
  position: relative;
  left: -3px;
}

.shadow {
  -webkit-filter: drop-shadow(5px 5px 9px black);
  filter: drop-shadow(5px 5px 9px black);
}

.retina {
  -webkit-transform: translate(0px, 0px) scale(0.5, 0.5);
  -ms-transform: translate(0px, 0px) scale(0.5, 0.5);
  transform: translate(0px, 0px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  image-rendering: -webkit-optimize-contrast;
}

#legalBtn:hover ~ #legalContent {
  opacity: 1;
}

#legalContent {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  font-size: 10px;
  z-index: 90;
  opacity: 0;
  font-weight: normal;
  line-height: 14px;
  transition: opacity 0.3s;
  pointer-events: none;
}

.hide {
  opacity: 0;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

#legalBtn {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  opacity: 1;
  width: 36px;
  height: 25px;
  background-color: red;
  opacity: 0;
}

#pn-casino-image {
  opacity: 0;
}

.neon {
  opacity: .1;
}

.tri {
  width: 130px;
  height: 100%;
  background-color: green;
  background-color: #e82011;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.line {
  width: 10px;
  height: 900px;
}

.frame {
  opacity: 1;
}

.frame1 {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  background-color: #e82011;
}

.frame2 {
  background-color: #e82011;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame2 .tri_2 {
  -webkit-transform: translate(170px, 0px) scale(-1, -1);
  -ms-transform: translate(170px, 0px) scale(-1, -1);
  transform: translate(170px, 0px) scale(-1, -1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame4 {
  -webkit-transform: translate(430px, 0px);
  -ms-transform: translate(430px, 0px);
  transform: translate(430px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  background-color: #e82011;
}

.frame4 .line.ver {
  -webkit-transform: translate(54px, 323px) scale(0.5, 0.5);
  -ms-transform: translate(54px, 323px) scale(0.5, 0.5);
  transform: translate(54px, 323px) scale(0.5, 0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame4 .line.hor {
  -webkit-transform: translate(265px, 200px) scale(0.5) rotate(270deg);
  -ms-transform: translate(265px, 200px) scale(0.5) rotate(270deg);
  transform: translate(265px, 200px) scale(0.5) rotate(270deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame5 {
  -webkit-transform: translate(1200px, 0px);
  -ms-transform: translate(1200px, 0px);
  transform: translate(1200px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  background-color: #e82011;
}

.frame5 .line.ver {
  -webkit-transform: translate(267px, -37px) scale(0.5) rotate(0deg);
  -ms-transform: translate(267px, -37px) scale(0.5) rotate(0deg);
  transform: translate(267px, -37px) scale(0.5) rotate(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
}

.frame5 .line.hor {
  -webkit-transform: translate(-62px, 497px) scale(0.5) rotate(270deg);
  -ms-transform: translate(-62px, 497px) scale(0.5) rotate(270deg);
  transform: translate(-62px, 497px) scale(0.5) rotate(270deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  height: 240px;
}

.frame6 {
  -webkit-transform: translate(300px, 0px);
  -ms-transform: translate(300px, 0px);
  transform: translate(300px, 0px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  position: absolute;
  background-color: #e82011;
}

#banner {
  width: 300px;
  height: 600px;
}

/*# sourceMappingURL=main.css.map */
